* {
    margin: 8;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8FF;
}

header {
    text-align: center;
    background: repeating-linear-gradient(-45deg, #fff 0 20px, #f9f9f9 0 40px);
    margin: 8px;

}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    letter-spacing: 2px;
    padding: 1px;
    box-shadow: 10px 8px 10px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

header h1:hover {
    transform: scale(1.1);
}

#letraN-span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: #4682B4;
}

#letraB-span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: #4682B4;
}

.navegacao-bar {
    display: inline-flex;
    margin-left: 8px;
}

.navegacao-bar,
button {
    width: 24vw;
    height: 6vh;
    margin-right: 2px;
    font-size: larger;
    color: #4682B4;
    background-color: #1C1C1C;
    border-radius: 8px;
    cursor: pointer;
    border: transparent;
}

.navegacao-bar,
button:hover {
    background-color: #696969;
    color: #000000;
}

.container-cards,
img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.container-cards p:hover {
    transform: scale(1.1);
}

img {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #4682B4;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    width: 28vw;
    height: 38vh;
}

img:hover {
    transform: scale(1.1);
}

.container-cards h2 {
    font-size: 16px;
    background-color: #F8F8FF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-cards p {
    font-family: Arial, Helvetica, sans-serif;

}

.container-cards,
h2 {
    margin-top: 0px;
    text-align: center;
}

p {
    text-align: center;

}

a {
    font-weight: bold;
    text-decoration: none;
    color: #191970;
}

a:hover {
    color: #4682B4;
}

footer {
    display: inline-block;
    background-color: #1C1C1C;
    width: 100%;
    text-align: center;
}

footer h2 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    letter-spacing: 2px;
    box-shadow: 10px 8px 10px 5px;
    border-radius: 8px;
    cursor: pointer;
}
.footer-nav {
    display: flex;
    margin-left: 42vw;
    font-size: 28px;
    
}

footer p {

    background-color: #1C1C1C;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p a {
    background-color: #1C1C1C;
    color: #f9f9f9;
    margin: 8px;

}

footer nav {
    background-color: #1C1C1C;
}
#copy {
    color: #F8F8FF;
}
.container-posts h2 {
    font-family: Arial, Helvetica, sans-serif;

}

.container-posts p {
    margin-left: 56px;
    margin-right: 56px;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #696969;
    line-height: 1.5;

}

.data {
    margin-left: 1vw;
    border-radius: 8px;
    font-size: 12px;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;

}

#container-img-data-contador {
    display: flex;
}

#paragrafoDaVisualizacao {
    color: #696969;
    margin: 0;
}

.contador {
    border-radius: 8px;
    font-size: 14px;
    padding: 2px;
    font-family: monospace;
    display: flex;
    color: #696969;
}

#button-voltar-ao-menu {
    width: 12vw;
    margin-bottom: 8px;
}

.footer-nav:hover {
    background-color: #1C1C1C;
    color: #fff;
}

#nav-segunda-pagina a {
    background-color: #1C1C1C;
}

#container-img-data-contador {
    display: flex;
    align-items: center;
    align-content: start;
}

#paragrafoDaVisualizacao {
    color: #696969;

}

#container-botaoData {
    display: flex;
    text-wrap: nowrap;
}

#botaoData {
    margin: 8px;
    width: 8vw;
    margin-left: 18px;
    background-color: #F8F8FF;
    color: #000000;
    text-decoration: underline;
}

#botaoData:hover {
    color: #4682B4;
}

/* responsividade */

@media only screen and (max-width: 480px) {
    .navegacao-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .navegacao-bar button {
        width: 90vw;
        margin-top: 8px;
        color: #F8F8FF;
        cursor: pointer;

    }

    .container-cards {
        flex-direction: column;
    }

    img {
        width: 97vw;

    }

    #container-img-data-contador {
        margin-left: 64px;
    }

    #botaoData {
        margin-top: 28vh;
    }

    #copy {
        margin-top: 1px;
        background-color: #333;
        color: #F8F8FF;
    }

    footer {
        display: block;
    }
    .footer-nav {
        display: flex;
        margin-left: 20vw;
        font-size: 28px;  
        width: 56vw;
        height: max-content;

    }

    #button-voltar-ao-menu {
        width: 28vw;
    }

    .container-posts p {
        font-size: 12px;
    }

    #logo-footer {
        border: 4px solid;
        box-shadow: 0px 0px 0px;
    }

    #copyPaginaPost {
        margin-top: 1px;
        background-color: #333;
    }

    #footerPaginaPost nav {
        display: flex;
    }

    #footerPaginaPost h2 {
        box-shadow: 0px 0px 0px;
        border: 4px solid;

    }

    #footerPaginaPost button {
        margin-left: 24vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .navegacao-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .navegacao-bar button {
        width: 72vw;
        margin-top: 8px;
        margin-left: 12vw;
    }

    .container-cards {
        flex-direction: column;
        margin-top: 8vh;
    }

    img {
        width: 64vw;
        margin-top: 8px;

    }

    #container-img-data-contador {
        margin-left: 64px;
    }

    #botaoData {
        margin-top: 28vh;
    }

    #copy {
        margin-top: 1px;
        background-color: #333;
    }

    footer button {
        font-size: 20px;
        padding-top: 28px;
        width: 40vw;

    }

    #logo-footer {
        border: 4px solid;
        box-shadow: 0px 0px 0px;

    }

    #copyPaginaPost {
        margin-top: 1px;
        background-color: #F8F8FF;
    }

    #footerPaginaPost nav {
        display: flex;
        justify-content: center;
    }

    #footerPaginaPost h2 {
        box-shadow: 0px 0px 0px;
        border: 4px solid;

    }

    #footerPaginaPost button {
        font-size: 18px;
        margin-left: 8px;
        /* margin-top: 64px; */
        margin: 8px;

    }
}
